section {
    width:1000px;
    font-size:148px;
    border:10px solid #000;

}
@media only screen and (max-device-width: 480px) {
section {
    width:480px;
    font-size:12px;
    border:thin solid #000;
} 
}  